#achievements > .title {
    height: 4.4vh;

    padding-left: 2vh;
    background-color: #0002;

    font-size: 2em;
}
#achievementWarp {
    height: 86vh;

    overflow-y: scroll;
}
#achievementWarp::-webkit-scrollbar {
    width: 10px;
}
#achievementWarp::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
}
#achievementWarp::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.achievementItem {
    height: 11%;

    margin: 2% 3% 4% 3%;

    display: flex;
    flex-direction: column;

    border-radius: 1.5vh;
    background-color: #fff3;
    box-shadow: 0.8vh 0.8vh 0 #3338;
    
    overflow: hidden;
}
.achievementItem > * {
    margin-left: 1.2vh;
}
.achievementItem > .title {
    flex: 1;

    font-size: 1.6em;
    color: rgb(27, 39, 107);
    font-weight: bold;
    text-decoration: underline;
}
.achievementItem > .description {
    flex: 3;

    font-size: 0.85em;
    white-space: normal;

    overflow: hidden;
}
.achievementItem > *::after {
    content: attr(data-text);
}